; vim: set fileencoding=utf-8 :
; Wed 17 Aug 13:33:13 CEST 2016

[buildout]
parts = scripts
develop = .
eggs = bob.db.multipie
extensions = bob.buildout
newest = false
verbose = true

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true